@charset "utf-8";
@import url('fonts.css');

/*
FONTS DISPONIVEIS

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;letter-spacing: 0;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top125{margin-top:125px !important;}
.top130{margin-top:130px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top160{margin-top:160px !important;}
.top170{margin-top:170px !important;}
.top180{margin-top:180px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top195{margin-top:195px !important;}
.top205{margin-top:205px !important;}
.top210{margin-top:210px !important;}
.top235{margin-top:235px !important;}
.top255{margin-top:255px !important;}
.top285{margin-top:285px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom130{margin-bottom:130px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom140{margin-bottom:140px !important;}
.bottom150{margin-bottom:150px !important;}

.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}


.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt130{padding-top:130px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}


/* ============= OFFSET COLUNAS ============= */
.col-offset-1{margin-left: 8.33%;}
.col-offset-2{margin-left: 16.66%;}
.col-offset-3{margin-left: 25%;}
.col-offset-4{margin-left: 33.33%;}
.col-offset-5{margin-left: 41.66%;}
.col-offset-6{margin-left: 50%;}
.col-offset-7{margin-left: 58.33%;}
.col-offset-8{margin-left: 66.66%;}
.col-offset-9{margin-left: 75%;}
.col-offset-10{margin-left: 83.33%;}
.col-offset-11{margin-left: 91.66%;}
.col-offset-12{margin-left: 100%;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg5{padding: 10px;}
.pg10{padding: 10px;}
.pg20{padding: 20px;}

.container{width:1170px !important;}

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #000;
}


@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

.element {
	@include clearfix;
}

h1{
	color: #000;
  font-size: 2.19rem /* 35/16 */;
  font-weight: 700;
}



h1 span {

}

h2 {
	color: #000;
  font-size: 1.25rem /* 20/16 */;
  font-weight: 700;
}

h2 span{
 font-weight: 300;
 font-size: 1.56rem /* 25/16 */;
}


h3{
	font-weight: 700;
  font-size: 1.56rem /* 25/16 */;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	color: #fff;
}

h3 span{
	font-weight: 700;
	font-size: 1.56rem /* 25/16 */;
	text-shadow: none;
}

h4 {
	font-size: 2.5rem /* 40/16 */;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 3.38rem /* 54/16 */;
}

h4 span{
font-size: 3.13rem /* 50/16 */;

}



h5 {
font-size: 1.88rem /* 30/16 */;
font-weight: 700;
line-height: 2.19rem /* 35/16 */;
}

h5 span{
font-size: 1.63rem /* 26/16 */;
letter-spacing: -1px;
}

h6{
color: #2a2a57;
font-weight: 400;
font-size: 1.25rem /* 20/16 */;
}

h6 span{
 font-size: 2.31rem /* 37/16 */;
 font-family:"Lato Black";

}



p{
	font-size: 1.56rem /* 25/16 */ ;
	color: #000;
	text-align:justify;
	font-weight: 300;
	line-height: 1.88rem /* 30/16 */;
	letter-spacing: 0;
}

p span{
	color: #fff;
	font-weight: 400;

}
.modal-backdrop{z-index: 1;}


.ui-datepicker table {
    font-size: .94rem /* 15/16 */!important;
}

.media {
	align-items: center;
}

.icon_form .fa{
	position: absolute;
	right: 22px;
	top: 16px;
}

.scrol_empresa{
	overflow-y:  auto;
	height: 275px;
}

.jspVerticalBar {
	width: 8px !important;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
	color: #a94442;
}

.class-404 h1{
	font-size: 40px;
	color: #000;
}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .form-control-feedback {
	color: #a94442;
}

.has-success .form-control-feedback {
	color: #3c763d;
}
.topo-site {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.btn{
	border-radius: 0;
}

a:hover{
	text-decoration: none;
}


.relativo{
	position: relative;
}

input,
select,
textarea{
	min-height: 50px;
	color:#000;
	border-radius: 0 !important;
	font-size: 20px;
	font-weight: 400;
}


::-webkit-input-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

:-moz-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

::-moz-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

:-ms-input-placeholder {
	color      : #000;
	font-family: 'Lato', sans-serif;
	font-family: 400;
	font-size  : 13px;
}

.padding0{
	padding: 0px !important;
}

.lato{font-family: 'Lato', sans-serif;}

/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/
#cboxContent {background: none !important;}
#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
#cboxSlideshow {color: #fff !important;}
#cboxPrevious{left: 28px!important;}
#cboxNext{left: 56px!important;}
#cboxCurrent{left: 90px !important;}
#cboxClose{right: 28px !important;}
#cboxSlideshow{right: 60px !important;}
/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/

.dicas_hover {
    left: 15px;
    z-index: 9;
    background: url(../imgs/bg_transparente_home.png);
		width: 328px;
	    height: 13.13rem /* 210/16 */;
    position: absolute;
    top: 15px;
    opacity: 0;
    padding-top: 80px;
}
/**
============================================
TOPO
============================================
*/

.avaliacao_topo a:hover{
	opacity: .8;
}

.border_topo{
	border-top: .25rem /* 4/16 */ solid #fe0000;
width: 100%;
}

.bg_topo {
	background: #fff;
	height: 4.69rem /* 75/16 */;
	width: 100%;
	position: absolute;
	top: 4.06rem /* 65/16 */;
}

.btn_topo,.btn_topo:focus{
	background: none;
	box-shadow: none;
	padding: 0;
	position: relative;
	cursor: pointer;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;      */
}

.menu .navbar-nav{
	flex-direction: inherit;
}



.menu .navbar-nav > li > a{
	margin-left: 1.88rem /* 30/16 */;
	padding: 3px 2px;
	font-size: 20px;
	color: #000;
	border-radius: 0;
	font-weight: 700;
	letter-spacing: -1px;
}

/*.menu .navbar-nav > li > a:last-child{
	margin-left: 0 ;
}*/



.menu .navbar-nav > li > a .fa{
	padding: 3px 14px;
}


.menu .nav>li>a:hover,
.menu .nav>li>a:focus,
.menu .nav li a.active {
	border-radius: 5px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	color: #fe0000;
	border-bottom: 2px solid #fe0000;
	border-radius: 0;
	-webkit-transition:200ms ease;
	 -moz-transition:200ms ease;
	 -o-transition:200ms ease;
	 transition:200ms ease;
}


.topo-meu-orcamento{
	width:470px !important;
	margin-left: -202px;
	padding:15px;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
}


.lista-itens-carrinho h1{
	font-size: 14px !important;
	margin: inherit;
	color: #252525;
}

.btn_orcamento{
	color: #fff;
	background: #fe0000;
}

.btn_orcamento:hover{
	color: #fff;
	background: #9e0f0f;
}

.bootstrap-select>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle:hover,
.bootstrap-select>.dropdown-toggle.active,
.bootstrap-select>.dropdown-toggle:focus {
	height: 45px;
	border: 1px solid #c8c8c8;
	border-radius: 0px;
	font-weight: 700;
	color: #000;
	font-size: 15px;
	background: none;
	width: 198px !important;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: thin dotted #c8c8c8!important;
	outline: 1px auto -webkit-focus-ring-color!important;
	outline-offset: -2px;
}

/**
============================================
TOPO
============================================
*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :740px;
	margin  :0px auto;
	overflow:hidden;
	position: relative;
	margin-top: 0px;
	z-index: 1;
}

#content_slider {
	width      :1920px;
	position   :absolute;
	margin-left:-960px;
	top        :0px;
	left       :50%;
}


#content-slider-1 .rsContent{
	height: 100px;
	position: absolute;
	z-index: 1000;
	top: 100px;
}

#content-slider-1 .rsContent h1{
	font-size: 40px;
	color: #fff;
	font-family:"Lato Black";
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

#content-slider-1 .rsTabs {
	width: 162px;
	height: 30px;
	z-index: 9999;
	position: absolute;
	left: 469px;
	top: 465px;
	text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
	background   : #2a2a57;
	width        :30px;/*setas*/
	opacity      : 0.4;
	height       : 30px;/*setas*/
	float        : left;
	margin-right : 10px;
	cursor       : pointer;
	border-radius: 50%;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}

#content-slider-1 .rsNavSelected {
	opacity  : 1;
	background: #2a2a57;
	box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);
}


/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	bottom:244px;
	position: absolute;
	left: 410px;
}

#container_banner .rsArrowRight {
	display: block;
	width:30px;
	height:30px;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	bottom:244px;
	position: absolute;
	right: 1244px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/**/


/**
============================================
rodape
============================================
*/
.scrollup{width:65px;height:65px;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up02.png) no-repeat;z-index:9999;}



.rodape{
	background : #dfdfdf;
}

.rodape-preto{
	background :#000;
}

.redes a {
	color: #2c2c2c;
}

.redes a:hover{
	color: #444343;
}

.menu_rodape .nav-link,.categorias_rodape .nav-link{
	color: #000;
	font-weight: 400;
	padding: 16px 0;
	font-size: 20px;
}

.menu_rodape .nav-link:hover,
.menu_rodape .nav-link.active ,
.categorias_rodape .nav-link:hover{
	color: #fe0000;
}
.endereco_rodape p,.endereco_rodape .media .fa{
	font-weight: 700;
	font-size: 22px;
	color: #000;
}

.endereco_rodape img{
	width: 25px;
    height: 30px;
}

.endereco_rodape h2{
	font-weight: 700;
	color: #000;
	font-size: 1.88rem /* 30/16 */;
	letter-spacing: -2px;
}

.rodape-preto h5{
	font-size: 1.38rem /* 22/16 */;;
	color: #fff;
	font-weight: 300;
}

/**
============================================
rodape
============================================
*/

/**
============================================
HOME
============================================
*/

.dicas_home p{
	font-size: .94rem /* 15/16 */;
	font-weight: 400;
	line-height: 1.38rem /* 22/16 */;
	letter-spacing: 0;
}

.dicas_home .card{
	-webkit-box-shadow: 2px 2px 7px 0px rgba(25, 0, 0, 0.35);
-moz-box-shadow:    2px 2px 7px 0px rgba(25, 0, 0, 0.35);
box-shadow:         2px 2px 7px 0px rgba(25, 0, 0, 0.35);
}

.desc_dicas_home{
	overflow: hidden;
}

.dicas_home_descricao{
	overflow: hidden;
	height: 7rem /* 112/16 */;
}

.bg_empresa_home p{
	color: #fff;
}

.btn_saiba_empresa{
	font-size: 1.56rem /* 25/16 */;
	color: #fff;
	font-weight: 700;
	border: .25rem /* 4/16 */ solid #fff;
	padding: 17px 60px;
}

.btn_saiba_empresa:hover{
	color: #cecece;
}


.bg_empresa_home{
	background: url(../imgs/bg_empresa_home.jpg)top center no-repeat ;
	width: 100%;
	height: 100%;
}

.cat_produtos .card{
	border: 0;
}

.cat_produtos .card-body{
	position: absolute;
	top: 11.56rem /* 185/16 */;
	width: 100%;
}

.cat_produtos h2{
	font-weight: 400;

}

.bg_cinza{
	background: #f2f2f2;
}

.cat_produtos a:hover h2,.cat_produtos a:hover p{
	color: #fe0000;
}

.produt_cat p{
	font-size: 1.13rem /* 18/16 */;
	line-height: 1.56rem /* 25/16 */;
	letter-spacing: -1px;
}

.desc_geral_produto p{
	font-size: 1.25rem /* 20/16 */;
}




.lista_categorias .flexslider {
	margin: 0 0 40px;
	background: none;
	border:0;
}

.lista_categorias .flex-direction-nav a {
	margin: -26px 0 0;
}

.lista_categorias #slider1 .slides li a {
	font-size: 16px;
	color: #f6f5f5;
	height: 48px;
	min-width: 166px;
	padding: 10px 12px;
	border: 4px solid #f78436;
	border-left: 0;
	margin-top: 9px;
	margin-left: 32px;
}


.lista_categorias #slider1 .slides li{
	background: url(../imgs/lateral_cat.png)left no-repeat ;
	width: 7.31rem;
	height: 4.13rem;
}

.lista_categorias #slider1 .slides li.active a,.lista_categorias #slider1 .slides li a:hover{
	color: #ef8237;
}


/**
============================================
HOME
============================================
*/
/**
============================================
EMPRESA
============================================
*/

.empresa_detalhe .media{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 1.25rem /* 20/16 */;
}

.empresa_detalhe .top15 p{
line-height: 40px;
letter-spacing: -1px;
}

.empresa_detalhe .media-body p{
line-height: 2.13rem /* 34/16 */;
}
/**
============================================
EMPRESA
============================================
*/

/**
============================================
PRODUTOS
============================================
*/

.slider_prod_geral .flexslider {
	margin: 0px;
	margin-top: 1.25rem;
	background: none;
	border: 0;
	z-index: 9;
}

.slider_prod_geral .slider-prod li img:hover {
	cursor: -webkit-zoom-in;
}

#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}

#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li .active img{
	opacity: .7;
	border: 1px solid #001d33;
}

.slider-prod-tumb img{
	height: 80px !important;
}

.zomm{
	position: absolute;
    background: url(../imgs/zoom3.png)no-repeat;
    width: 142px;
    height: 56px;
    bottom: 0;
    left: 0px;
    z-index: 99;
}

.produto_dentro .slider_prod_geral .imagem_default img{
	height: 400px !important;
	width: 100%;
}

.produto_dentro h1{
	color: #2a2a57;
	font-family:"Lato Black";
	letter-spacing: -1px;
}

.produto_dentro h2{
	font-size: 1.25rem /* 20/16 */;
	font-weight: 300;
	letter-spacing: 1px;
}

.titulo_produto h4 span{
	color: #FE0045;
}


.cat_produtos_geral .card{
	border: 0;
}

.cat_produtos_geral .card a:hover img{
	opacity: .8;
}

.cat_produtos_geral .card-body{
	position: absolute;
	top: 16rem /* 256/16 */;
	width: 100%;
}

.cat_produtos_geral h2{
	font-weight: 400;

}

.cat_produtos_geral a:hover h1,
.cat_produtos_geral a:hover p,
.cat_produtos_geral a:hover h2{
	color: #fe0000;
}

.btn_produtos_orcamento{
	background: #fe0000;
	color: #fff;
	font-size: 1.56rem /* 25/16 */;
	font-weight: 700;
	padding: 20px 30px;
	margin-top: 1.13rem /* 18/16 */;
}

.btn_produtos_orcamento:hover{
	background: #9e0f0f;
	color: #fff;
}

.produto_cat_destaque h4 span b{
	color: #fe0000;
}

/**
============================================
PRODUTOS
============================================
*/


/**
============================================
FALE CONOSCO
============================================
*/
.btn_formulario{
	border-radius: 0;
	font-size:30px;
	color: #fff;
	padding: 15px 80px;
	background: #000;
	font-weight: 700;
	cursor: pointer;
}

.btn_formulario_orcamento{
	border-radius: 0;
	font-size: 30px;
	color: #fff;
	padding: 15px 30px;
	background: #001d33;
	font-weight: 700;
	cursor: pointer;
}


.btn_topo_orcamento{
	border-radius: 0;
	font-size: 15px;
	color: #fff;
	padding: 5px 15px;
	background: #002953;
}

.btn_formulario:hover,
.btn_topo_orcamento:hover,
.btn_formulario_orcamento:hover{
	color: #fff;
    background: #fe0000;
}

.fundo-form{
	border: 0 !important;
	border-top: 3px solid #000 !important;
	padding: .5rem 1.06rem;
	background: #fff !important;
}



.titulo_emp p{
	font-weight: 400;
}

.nav-pills .media-body{
	line-height: 1;
}

.nav-pills .nav-link{
	color: #fff;
	background-color: #000;
	opacity: .3;
	font-size: 26px;
}

.nav-pills .nav-link span{
	font-size: 1.13rem /* 18/16 */;
	font-weight: 300;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
	color: #fff;
	opacity: 1;
	cursor: default;
	background-color: #000;
}

.nav-pills .nav-link:hover{
	color: #fff;
	opacity: 1;
	background-color: #000;
}
/**
============================================
FALE CONOSCO
============================================
*/


/**
============================================
ORCAMENTOS
============================================
*/
.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
.tabela_carrinho table{font-size:20px;color:#000;font-weight:400; height: 100px;}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 17px;vertical-align:middle;border-bottom:1px solid #cecece;padding:10px 5px;}
.fa-times-circle::before{
	color:#eb0000;
}

.bg_branco{
	-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.75);
	background: #fff;
	position: relative;
}

.bg_branco_produto{
	-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.75);
	background: #fff;
	position: relative;
	border-bottom: 2.5rem solid #faa954;
}

.dica_img{
	position: absolute;
	right: 2.63rem;
	top: -3.88rem;
}

.bg_branco01{
	background: #fff;
}


.tabela_carrinho h3,.fundo_formulario h3{
	color: #000;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	/*text-shadow:1px 2px 5px #0f0f0f;*/
}


.input-lista-prod-orcamentos {
	width: 40px;
	min-height: 36px !important;
	text-align: center;
	background: #949393;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
}


.orcamento h5 span{
	font-size: 40px;
	font-weight: 400;
}


.icon_form select {
	appearance: none;
		 -webkit-appearance: none;
		 -moz-appearance: window;
}
/**
============================================
ORCAMENTOS
============================================
*/

.tratamento_descricao p{
	font-size: 1.13rem /* 18/16 */;
}

.tratamento_descricao .desc{
 overflow: hidden;
 height: 7.88rem /* 126/16 */;
}

.menu_lateral_home .panel-heading a:hover,.menu_lateral_home .panel-heading a.active{
	color: #fe0000;
}

.modal-geral .panel a{
color: #000;
font-size: 20px;
}

.btn_agendar{
	background: #fe0000;
	color: #fff !important;
	font-size: 1.25rem /* 20/16 */;
	font-weight: 700;
	margin-bottom: 5px;
}

.btn_agendar:hover{
	background: #9e0f0f;
	color: #fff !important;
}
